/*Defaults Styling*/
#niceform body {font:12px/17px Arial, Helvetica, sans-serif; color:#333; background:#ccc; padding:40px 20px 20px 20px;}
#niceform fieldset {background:#EBF5FF; padding:10px; border:1px solid #fff; border-color:#fff #666661 #666661 #fff; margin-bottom:36px; width:600px;}
#niceform input, #niceform textarea, #niceform select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}
#niceform fieldset.action {background:#3366FF; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;}
#niceform legend {background:#1E4F8A; color:#fff; font:17px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}
#niceform label {font-size:11px; font-weight:bold; color:#666;}
#niceform label.opt {font-weight:normal;}
#niceform dl {clear:both;}
#niceform dt {float:left; text-align:right; width:110px; line-height:25px; margin:0 10px 10px 0;}
#niceform dd {float:left; width:475px; line-height:25px; margin:0 0 10px 0;}
#footer {font-size:11px;}

#niceform {/* width:700px;*/ margin:0 auto;}

/*##########################################
Script: Niceforms 2.0
Theme: StandardBlue
Author: Lucian Slatineanu
URL: http://www.emblematiq.com/
##########################################*/

/*Text inputs*/
#niceform .NFText {border:none; vertical-align:middle; font:12px/15px Arial, Helvetica, sans-serif; background:none;}
#niceform .NFTextCenter {height:15px; background:url(/images/niceform/input.png) repeat-x 0 0; padding:3px 0; margin:0; float:left; line-height:15px;}
#niceform .NFTextLeft, #niceform .NFTextRight {width:7px; height:21px; vertical-align:middle; float:left;}
#niceform .NFTextLeft {background:url(/images/niceform/input-left.png) no-repeat 0 0;}
#niceform .NFTextRight {background:url(/images/niceform/input-right.png) no-repeat 0 0;}
/*Radio*/
#niceform .NFRadio {cursor:pointer; position:absolute; display:block; width:13px; height:13px; border:1px solid transparent; background:url(/images/niceform/radio.png) no-repeat 0 0; z-index:2;}
/*Checkbox*/
#niceform .NFCheck {cursor:pointer; position:absolute; width:12px; height:12px; border:1px solid transparent; background:url(/images/niceform/checkbox.png) no-repeat 0 0; z-index:2;}
/*Buttons*/
#niceform .NFButton {width:auto; height:26px; color:#fff; padding:0 2px; background:url(/images/niceform/button.png) repeat-x 0 0; cursor:pointer; border:none; font:10px/26px Tahoma, Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; letter-spacing:1px; vertical-align:middle;}
#niceform .NFButtonLeft, #niceform .NFButtonRight {width:6px; height:26px; vertical-align:middle;}
#niceform .NFButtonLeft {background:url(/images/niceform/button-left.png) no-repeat 0 0;}
#niceform .NFButtonRight {background:url(/images/niceform/button-right.png) no-repeat 0 0;}
/*Textareas*/
#niceform .NFTextarea {border:none; background:none; font:12px/12px Arial, Helvetica, sans-serif; margin:0;}
#niceform .NFTextareaTop, #niceform .NFTextareaBottom {height:5px; clear:both; float:none; padding-right:10px;}
#niceform .NFTextareaTop {background:url(/images/niceform/textarea-tr.png) no-repeat 100% 0;}
#niceform .NFTextareaBottom {background:url(/images/niceform/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
#niceform .NFTextareaTopLeft, #niceform .NFTextareaBottomLeft {width:5px; height:5px;}
#niceform .NFTextareaTopLeft {background:#f2f2e6 url(/images/niceform/textarea-tl.png) no-repeat 0 0;}
#niceform .NFTextareaBottomLeft {background:#f2f2e6 url(/images/niceform/textarea-bl.png) no-repeat 0 0;}
#niceform .NFTextareaLeft, #niceform .NFTextareaRight, #niceform .NFTextareaLeftH, #niceform .NFTextareaRightH {float:left; padding-bottom:5px;}
#niceform .NFTextareaLeft, #niceform .NFTextareaLeftH {width:5px;}
#niceform .NFTextareaLeft {background:url(/images/niceform/textarea-l-off.png) repeat-y 0 0;}
#niceform .NFTextareaLeftH {background:url(/images/niceform/textarea-l-over.png) repeat-y 0 0;}
#niceform .NFTextareaRight, #niceform .NFTextareaRightH {padding-right:5px; padding-bottom:0;}
#niceform .NFTextareaRight {background:url(/images/niceform/textarea-r-off.png) repeat-y 100% 0;}
#niceform .NFTextareaRightH {background:url(/images/niceform/textarea-r-over.png) repeat-y 100% 100%;}
/*Files*/
#niceform .NFFileButton {padding-bottom:0; vertical-align:bottom; cursor:pointer; background:url(/images/niceform/file.png) no-repeat 0 0; width:60px; height:21px;}
#niceform .NFFile {position:relative; margin-bottom:5px;}
#niceform .NFFile input.NFhidden {position:relative; filter:alpha(opacity=0); opacity:0; z-index:2; cursor:pointer; text-align:left;}
#niceform .NFFileNew {position:absolute; top:0px; left:0px; z-index:1;}
/*Selects*/
#niceform .NFSelect {height:21px; position:absolute; border:1px solid transparent;}
#niceform .NFSelectLeft {float:left; width:3px; height:21px; background:url(/images/niceform/select-left.png) no-repeat 0 0; vertical-align:middle;}
#niceform .NFSelectRight {height:21px; width:auto; background:url(/images/niceform/select-right.png) no-repeat 100% 0; cursor:pointer; font:12px/21px Arial, Helvetica, sans-serif; color:#fff; padding-left:3px; margin-left:3px;}
#niceform .NFSelectTarget {position:absolute; background:none; margin-left:-13px; margin-top:18px; z-index:3; left:0; top:0; padding-bottom:13px;}
#niceform .NFSelectOptions {position:relative; background:#707175; margin-left:16px; margin-top:0; list-style:none; padding:4px 0; color:#fff; font:11px/13px Arial, Helvetica, sans-serif; z-index:4; max-height:200px; overflow-y:auto; overflow-x:hidden; left:0; top:0;}
#niceform .NFSelectOptions li {padding-bottom:1px;}
#niceform .NFSelectOptions a {display:block; text-decoration:none; color:#fff; padding:2px 3px; background:none;}
#niceform .NFSelectOptions a.NFOptionActive {background:#464646;}
#niceform .NFSelectOptions a:hover {background:#333;}
/*Multiple Selects*/
#niceform .NFMultiSelect {border:0; background:none; margin:0;}
#niceform .NFMultiSelectTop, #niceform .NFMultiSelectBottom {height:5px; clear:both; float:none; padding-right:10px;}
#niceform .NFMultiSelectTop {background:url(/images/niceform/textarea-tr.png) no-repeat 100% 0;}
#niceform .NFMultiSelectBottom {background:url(/images/niceform/textarea-br.png) no-repeat 100% 0; margin-bottom:5px;}
#niceform .NFMultiSelectTopLeft, #niceform .NFMultiSelectBottomLeft {width:5px; height:5px;}
#niceform .NFMultiSelectTopLeft {background:#f2f2e6 url(/images/niceform/textarea-tl.png) no-repeat 0 0;}
#niceform .NFMultiSelectBottomLeft {background:#f2f2e6 url(/images/niceform/textarea-bl.png) no-repeat 0 0;}
#niceform .NFMultiSelectLeft, #niceform .NFMultiSelectRight, #niceform .NFMultiSelectLeftH, #niceform .NFMultiSelectRightH {float:left; padding-bottom:5px;}
#niceform .NFMultiSelectLeft, #niceform .NFMultiSelectLeftH {width:5px;}
#niceform .NFMultiSelectLeft {background:url(/images/niceform/textarea-l-off.png) repeat-y 0 0;}
#niceform .NFMultiSelectLeftH {background:url(/images/niceform/textarea-l-over.png) repeat-y 0 0;}
#niceform .NFMultiSelectRight, #niceform .NFMultiSelectRightH {padding-right:5px; padding-bottom:0;}
#niceform .NFMultiSelectRight {background:url(/images/niceform/textarea-r-off.png) repeat-y 100% 0;}
#niceform .NFMultiSelectRightH {background:url(/images/niceform/textarea-r-over.png) repeat-y 100% 0;}

/*Focused*/
#niceform .NFfocused {border:1px dotted #666;}
/*Hovered*/
#niceform .NFh {background-position:0 100%;}
#niceform .NFhr {background-position:100% 100%;}
/*Hidden*/
#niceform .NFhidden {opacity:0; z-index:-1; position:relative;}
/*Safari*/
#niceform select, #niceform input, #niceform textarea, #niceform button {outline:none; resize:none;}